<div>
    <h2>
        <span jhiTranslate="userControlApp.task.home.title">Tasks</span>
        <button class="btn btn-primary float-right jh-create-entity create-task" [routerLink]="['/', { outlets: { popup: ['task-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="userControlApp.task.home.createLabel">
            Create new Task
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tasks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="userControlApp.task.taskDescription">Task Description</span></th>
            <th><span jhiTranslate="userControlApp.task.last">Last</span></th>
            <th><span jhiTranslate="userControlApp.task.date">Date</span></th>
            <th><span jhiTranslate="userControlApp.task.user">User</span></th>
            <th><span jhiTranslate="userControlApp.task.tasktype">Tasktype</span></th>
            <th><span jhiTranslate="userControlApp.task.area">Area</span></th>
            <th><span jhiTranslate="userControlApp.task.project">Project</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks ;trackBy: trackId">
                <td><a [routerLink]="['../task', task.id ]">{{task.id}}</a></td>
                <td>{{task.taskDescription}}</td>
                <td>{{task.last}}</td>
                <td>{{task.date | date:'mediumDate'}}</td>
                <td>
                    {{task.user?.id}}
                </td>
                <td>
                    <div *ngIf="task.tasktype">
                        <a [routerLink]="['../task-type', task.tasktype?.id ]" >{{task.tasktype?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="task.area">
                        <a [routerLink]="['../area', task.area?.id ]" >{{task.area?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="task.project">
                        <a [routerLink]="['../project', task.project?.id ]" >{{task.project?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../task', task.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
