
<div *ngIf="task">
    <h2><span jhiTranslate="userControlApp.task.detail.title">Task</span> {{task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userControlApp.task.taskDescription">Task Description</span></dt>
        <dd>
            <span>{{task.taskDescription}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.task.last">Last</span></dt>
        <dd>
            <span>{{task.last}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.task.date">Date</span></dt>
        <dd>
            <span>{{task.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.task.user">User</span></dt>
        <dd>
            {{task.user?.id}}
        </dd>
        <dt><span jhiTranslate="userControlApp.task.tasktype">Tasktype</span></dt>
        <dd>
            <div *ngIf="task.tasktype">
                <a [routerLink]="['/task-type', task.tasktype?.id]">{{task.tasktype?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="userControlApp.task.area">Area</span></dt>
        <dd>
            <div *ngIf="task.area">
                <a [routerLink]="['/area', task.area?.id]">{{task.area?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="userControlApp.task.project">Project</span></dt>
        <dd>
            <div *ngIf="task.project">
                <a [routerLink]="['/project', task.project?.id]">{{task.project?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task/'+ task.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
