<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaskLabel" jhiTranslate="userControlApp.task.home.createOrEditLabel">Create or edit a Task</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!task.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="task.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.task.taskDescription" for="field_taskDescription">Task Description</label>
            <input type="text" class="form-control" name="taskDescription" id="field_taskDescription"
                [(ngModel)]="task.taskDescription" required/>
            <div [hidden]="!(editForm.controls.taskDescription?.dirty && editForm.controls.taskDescription?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taskDescription?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.task.last" for="field_last">Last</label>
            <input type="number" class="form-control" name="last" id="field_last"
                [(ngModel)]="task.last" required/>
            <div [hidden]="!(editForm.controls.last?.dirty && editForm.controls.last?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.last?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.last?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.task.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="task.date"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.task.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="task.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === task.user?.id ? task.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.task.tasktype" for="field_tasktype">Tasktype</label>
            <select class="form-control" id="field_tasktype" name="tasktype" [(ngModel)]="task.tasktype" >
                <option [ngValue]="null"></option>
                <option [ngValue]="taskTypeOption.id === task.tasktype?.id ? task.tasktype : taskTypeOption" *ngFor="let taskTypeOption of tasktypes; trackBy: trackTaskTypeById">{{taskTypeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.task.area" for="field_area">Area</label>
            <select class="form-control" id="field_area" name="area" [(ngModel)]="task.area" >
                <option [ngValue]="null"></option>
                <option [ngValue]="areaOption.id === task.area?.id ? task.area : areaOption" *ngFor="let areaOption of areas; trackBy: trackAreaById">{{areaOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.task.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="task.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === task.project?.id ? task.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
