<div>
    <h2>
        <span jhiTranslate="userControlApp.project.home.title">Projects</span>
        <button class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/', { outlets: { popup: ['project-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="userControlApp.project.home.createLabel">
            Create new Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="userControlApp.project.projectName">Project Name</span></th>
            <th><span jhiTranslate="userControlApp.project.projectDescription">Project Description</span></th>
            <th><span jhiTranslate="userControlApp.project.initialDate">Initial Date</span></th>
            <th><span jhiTranslate="userControlApp.project.endDate">End Date</span></th>
            <th><span jhiTranslate="userControlApp.project.status">Status</span></th>
            <th><span jhiTranslate="userControlApp.project.user">User</span></th>
            <th><span jhiTranslate="userControlApp.project.client">Client</span></th>
            <th><span jhiTranslate="userControlApp.project.teamlead">Teamlead</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td><a [routerLink]="['../project', project.id ]">{{project.id}}</a></td>
                <td>{{project.projectName}}</td>
                <td>{{project.projectDescription}}</td>
                <td>{{project.initialDate | date:'mediumDate'}}</td>
                <td>{{project.endDate | date:'mediumDate'}}</td>
                <td>{{project.status}}</td>
                <td>
                    <span *ngFor="let user of project.users; let last = last">
                            {{user.id}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let client of project.clients; let last = last">
                            {{client.id}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let teamlead of project.teamleads; let last = last">
                            {{teamlead.id}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../project', project.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
