
<div *ngIf="project">
    <h2><span jhiTranslate="userControlApp.project.detail.title">Project</span> {{project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userControlApp.project.projectName">Project Name</span></dt>
        <dd>
            <span>{{project.projectName}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.project.projectDescription">Project Description</span></dt>
        <dd>
            <span>{{project.projectDescription}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.project.initialDate">Initial Date</span></dt>
        <dd>
            <span>{{project.initialDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.project.endDate">End Date</span></dt>
        <dd>
            <span>{{project.endDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.project.status">Status</span></dt>
        <dd>
            <span>{{project.status}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.project.user">User</span></dt>
        <dd>
            <span *ngFor="let user of project.users; let last = last">
                {{user.id}}{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="userControlApp.project.client">Client</span></dt>
        <dd>
            <span *ngFor="let client of project.clients; let last = last">
                {{client.id}}{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="userControlApp.project.teamlead">Teamlead</span></dt>
        <dd>
            <span *ngFor="let teamlead of project.teamleads; let last = last">
                {{teamlead.id}}{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
