
<div *ngIf="area">
    <h2><span jhiTranslate="userControlApp.area.detail.title">Area</span> {{area.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userControlApp.area.areaName">Area Name</span></dt>
        <dd>
            <span>{{area.areaName}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.area.description">Description</span></dt>
        <dd>
            <span>{{area.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'area/'+ area.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
