
<div *ngIf="agreement">
    <h2><span jhiTranslate="userControlApp.agreement.detail.title">Agreement</span> {{agreement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userControlApp.agreement.agreementName">Agreement Name</span></dt>
        <dd>
            <span>{{agreement.agreementName}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.agreement.description">Description</span></dt>
        <dd>
            <span>{{agreement.description}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.agreement.date">Date</span></dt>
        <dd>
            <span>{{agreement.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.agreement.project">Project</span></dt>
        <dd>
            <div *ngIf="agreement.project">
                <a [routerLink]="['/project', agreement.project?.id]">{{agreement.project?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="userControlApp.agreement.user">User</span></dt>
        <dd>
            {{agreement.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'agreement/'+ agreement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
