<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAgreementLabel" jhiTranslate="userControlApp.agreement.home.createOrEditLabel">Create or edit a Agreement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!agreement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="agreement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.agreement.agreementName" for="field_agreementName">Agreement Name</label>
            <input type="text" class="form-control" name="agreementName" id="field_agreementName"
                [(ngModel)]="agreement.agreementName" required/>
            <div [hidden]="!(editForm.controls.agreementName?.dirty && editForm.controls.agreementName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.agreementName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.agreement.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="agreement.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.agreement.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="agreement.date"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.agreement.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="agreement.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === agreement.project?.id ? agreement.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.agreement.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="agreement.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === agreement.user?.id ? agreement.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
