<div>
    <h2>
        <span jhiTranslate="userControlApp.agreement.home.title">Agreements</span>
        <button class="btn btn-primary float-right jh-create-entity create-agreement" [routerLink]="['/', { outlets: { popup: ['agreement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="userControlApp.agreement.home.createLabel">
            Create new Agreement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="agreements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="userControlApp.agreement.agreementName">Agreement Name</span></th>
            <th><span jhiTranslate="userControlApp.agreement.description">Description</span></th>
            <th><span jhiTranslate="userControlApp.agreement.date">Date</span></th>
            <th><span jhiTranslate="userControlApp.agreement.project">Project</span></th>
            <th><span jhiTranslate="userControlApp.agreement.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agreement of agreements ;trackBy: trackId">
                <td><a [routerLink]="['../agreement', agreement.id ]">{{agreement.id}}</a></td>
                <td>{{agreement.agreementName}}</td>
                <td>{{agreement.description}}</td>
                <td>{{agreement.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="agreement.project">
                        <a [routerLink]="['../project', agreement.project?.id ]" >{{agreement.project?.id}}</a>
                    </div>
                </td>
                <td>
                    {{agreement.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../agreement', agreement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agreement/'+ agreement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agreement/'+ agreement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
