
<div *ngIf="taskType">
    <h2><span jhiTranslate="userControlApp.taskType.detail.title">Task Type</span> {{taskType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userControlApp.taskType.taskType">Task Type</span></dt>
        <dd>
            <span>{{taskType.taskType}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.taskType.description">Description</span></dt>
        <dd>
            <span>{{taskType.description}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.taskType.archive">Archive</span></dt>
        <dd>
            <span>{{taskType.archive}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'task-type/'+ taskType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
