<div>
    <h2>
        <span jhiTranslate="userControlApp.taskType.home.title">Task Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-task-type" [routerLink]="['/', { outlets: { popup: ['task-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="userControlApp.taskType.home.createLabel">
            Create new Task Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="taskTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="userControlApp.taskType.taskType">Task Type</span></th>
            <th><span jhiTranslate="userControlApp.taskType.description">Description</span></th>
            <th><span jhiTranslate="userControlApp.taskType.archive">Archive</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let taskType of taskTypes ;trackBy: trackId">
                <td><a [routerLink]="['../task-type', taskType.id ]">{{taskType.id}}</a></td>
                <td>{{taskType.taskType}}</td>
                <td>{{taskType.description}}</td>
                <td>{{taskType.archive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../task-type', taskType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task-type/'+ taskType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'task-type/'+ taskType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
