<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTaskTypeLabel" jhiTranslate="userControlApp.taskType.home.createOrEditLabel">Create or edit a Task Type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!taskType.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="taskType.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.taskType.taskType" for="field_taskType">Task Type</label>
            <input type="text" class="form-control" name="taskType" id="field_taskType"
                [(ngModel)]="taskType.taskType" required/>
            <div [hidden]="!(editForm.controls.taskType?.dirty && editForm.controls.taskType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.taskType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.taskType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="taskType.description" required/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.taskType.archive" for="field_archive">Archive</label>
            <input type="checkbox" class="form-control" name="archive" id="field_archive"
                [(ngModel)]="taskType.archive" />
            <div [hidden]="!(editForm.controls.archive?.dirty && editForm.controls.archive?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.archive?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
