<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCommentsLabel" jhiTranslate="userControlApp.comments.home.createOrEditLabel">Create or edit a Comments</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!comments.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="comments.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.comments.commentDescriptions" for="field_commentDescriptions">Comment Descriptions</label>
            <input type="text" class="form-control" name="commentDescriptions" id="field_commentDescriptions"
                [(ngModel)]="comments.commentDescriptions" required/>
            <div [hidden]="!(editForm.controls.commentDescriptions?.dirty && editForm.controls.commentDescriptions?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.commentDescriptions?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.comments.dateCreated" for="field_dateCreated">Date Created</label>
            <div class="d-flex">
                <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" [(ngModel)]="comments.dateCreated"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateCreated?.dirty && editForm.controls.dateCreated?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateCreated?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateCreated?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.comments.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="comments.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === comments.user?.id ? comments.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="userControlApp.comments.task" for="field_task">Task</label>
            <select class="form-control" id="field_task" name="task" [(ngModel)]="comments.task" >
                <option [ngValue]="null"></option>
                <option [ngValue]="taskOption.id === comments.task?.id ? comments.task : taskOption" *ngFor="let taskOption of tasks; trackBy: trackTaskById">{{taskOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
