<div>
    <h2>
        <span jhiTranslate="userControlApp.comments.home.title">Comments</span>
        <button class="btn btn-primary float-right jh-create-entity create-comments" [routerLink]="['/', { outlets: { popup: ['comments-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="userControlApp.comments.home.createLabel">
            Create new Comments
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="userControlApp.comments.commentDescriptions">Comment Descriptions</span></th>
            <th><span jhiTranslate="userControlApp.comments.dateCreated">Date Created</span></th>
            <th><span jhiTranslate="userControlApp.comments.user">User</span></th>
            <th><span jhiTranslate="userControlApp.comments.task">Task</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comments of comments ;trackBy: trackId">
                <td><a [routerLink]="['../comments', comments.id ]">{{comments.id}}</a></td>
                <td>{{comments.commentDescriptions}}</td>
                <td>{{comments.dateCreated | date:'medium'}}</td>
                <td>
                    {{comments.user?.id}}
                </td>
                <td>
                    <div *ngIf="comments.task">
                        <a [routerLink]="['../task', comments.task?.id ]" >{{comments.task?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comments', comments.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comments/'+ comments.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comments/'+ comments.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
