
<div *ngIf="comments">
    <h2><span jhiTranslate="userControlApp.comments.detail.title">Comments</span> {{comments.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userControlApp.comments.commentDescriptions">Comment Descriptions</span></dt>
        <dd>
            <span>{{comments.commentDescriptions}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.comments.dateCreated">Date Created</span></dt>
        <dd>
            <span>{{comments.dateCreated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="userControlApp.comments.user">User</span></dt>
        <dd>
            {{comments.user?.id}}
        </dd>
        <dt><span jhiTranslate="userControlApp.comments.task">Task</span></dt>
        <dd>
            <div *ngIf="comments.task">
                <a [routerLink]="['/task', comments.task?.id]">{{comments.task?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comments/'+ comments.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
